---
import "@/assets/styles/global.css";

const { title, description, url, image } = Astro.props;
const metaTitle = title || "Noche Dorada - La Velada de El Zein";
const metaDescription =
  description ||
  "Noche Dorada, es la velada peruana organizado por el streamer peruano El Zein.";
const metaUrl = url || "https://noche-dorada.netlify.app/";
const metaImage = image || "/images/noche-dorada-logotipo.webp";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={metaDescription} />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="El Zein" />

    <title>{metaTitle}</title>

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content={metaTitle} />
    <meta property="og:description" content={metaDescription} />
    <meta property="og:image" content={metaImage} />
    <meta property="og:url" content={metaUrl} />
    <meta property="og:type" content="website" />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={metaTitle} />
    <meta name="twitter:description" content={metaDescription} />
    <meta name="twitter:image" content={metaImage} />

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="/images/guantes-xs.webp"
      type="image/x-icon"
    />
  </head>
  <body class="bg-slate-900">
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
